html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
}

/*--------------------------------------------MAIN PAGE CSS----------------------------------------------*/

h1 {
    text-align: center;
    width: 100%;
    height: 2em;
    font-size: 4em;
    padding: 0.2em;
    letter-spacing: 1px;
    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 2em;
}

#article-category-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

#article-category-container div {
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 1px;
}

#infos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 0.5em;
    margin-right: 1.5em;
    font-weight: 400;
}

#infos div {
    font-size: 1em;
    font-weight: 500;
}

#article-content {
    margin: 1.5em;
    border: .1em solid #4ab56f;
    border-radius: 1.5em;
    padding: 1.5em;
    background-color: #fafcfa;
    box-shadow: 0 5px 10px 5px rgba(78, 78, 78, 0.479);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

#article-content p {
    text-align: justify;
    font-size: 1.5em;
    font-weight: 400;
    width: 100%;
}

#article-content img {
    width: 25em;
    height: 20em;
}

#multimedia_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 1em 1em 1em 1em;
}

@media (max-width: 1380px) {
    h1 {
        font-size: 2em;
    }

    #article-category-container div {
        font-size: 1em;
    }

    #infos div {
        font-size: 0.8em;
    }

    #article-content p {
        font-size: 1.2em;
    }

    #article-content img {
        width: 18em;
        height: 12em;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    #article-category-container div {
        font-size: 0.7em;
    }

    #infos div {
        font-size: 0.5em;
    }

    #article-content p {
        font-size: 1em;
    }

    #article-content img {
        width: 16em;
        height: 10em;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1em;
        margin-bottom: 1em;
    }

    #article-content p {
        width: 50%;
        font-size: 0.6em;
    }

    #article-content img {
        width: 16em;
        height: 10em;
    }

}