body{
    margin: 0;
    padding: 0;
}
header{
    background-color: lightgreen;
    top: 0;
    position:sticky;
}

.GH_logo{
    height:40px;
}

#header-links{
    display:flex;
    justify-content: space-around;
    flex:1;
}
.header-right-section{
    display:flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}

#header-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-out-button{
    padding-left: 10px;
}