@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

.button>a, a.button{
    text-decoration: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 20px;
    /* height: 17px; */
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;

transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: -3px;
background-color: rgb(141, 141, 141);

transition: .4s;
}


input:checked + .slider{
background-color: #639fd0;
}
/* 
input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
} */

input:checked + .slider:before {
background-color: rgb(0, 19, 97);
transform: translateX(26px);
}

.slider.round {
border-radius: 100px;
}

.slider.round:before {
border-radius: 50%;
}

.invisible {
    animation: shrink .7s linear 0s 1 normal;
}

.visible {
    animation: grow .3s linear 0s 1 normal;
}

@keyframes shrink {
    0% {transform: scale(1);}
    99.99% { transform: scale(0);}
}

@keyframes grow {
    0% {transform: scale(0);}
    99.99% { transform: scale(1);}
}

/*--------------------------------------------HEADER CSS----------------------------------------------*/
header {
    background-color: #4AB56F;
    display: flex;
    padding-left: 0em;
    padding-right: 0em;
    box-shadow: 0 5px 10px rgba(84, 132, 73, 0.475);
    flex-grow: 1;
    justify-content: center;

    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    position:sticky;

    z-index: 999;
}

@media only screen and (min-width: 1440px) {
    header {
        padding-left: 3em;
        padding-right: 3em;
    }
}

@media only screen and (min-width: 2000px) {
    header {
        padding-left: 15em;
        padding-right: 15em;
    }
}

header>* { /* Children of header*/
    display:flex;
    flex:1;
    align-items: center;

    min-height: 2em;
    max-height: 3em;
}

.GH_logo {
    max-height: 3em;
}

#header-links>a, #header-sign-up>a{
    text-decoration: none;
    color: black;
    padding: .7em;
    border-radius: 1em;
    transition: all .5s;
}

#header-links>a:hover, #header-sign-up>a:hover{
    text-decoration: none;
    color: black;
    background-color: #2e9352;
}

#header-links>a{
    padding-right: 1em;
    padding-left: 1em;
    margin-left: 1em;
    margin-right: 1em;
    /* min-width: 2em; */

    text-align: center;
}
#header-sign-up>a {
    padding-right: .3em;
    padding-left:.3em;
    margin-left: .3em;
    margin-right: .3em;
    
    text-align: center;
    /* border-style: dotted; */
    border-color: rgb(19, 79, 39);
}
#header-links {
    justify-content: center;
    flex: 3;
}

#header-sign-up {
    justify-content: center;
    
    border-radius: 3em;
    /* border-style: dotted; */
    border-color: rgb(19, 79, 39);
}

#mobile-dropdown, #mobile-dropdown-menu {
    display: none;
}

@media only screen and (max-width: 935px) {
    #header-links {
        display: none;
    }

    #mobile-dropdown {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #img-container {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: .5em;

    }

    #img-container>img {
        max-width: 3em;
        /* right: 50%; */
        align-self: center;
        max-height: 2em;
    }

    #mobile-dropdown-menu{
        display: none;
        /* align-self: flex-end; */
        margin-top: .7em;
        justify-content: center;
        flex-direction: column;
        background-color: #4AB56F;
    }

    #mobile-dropdown-menu>a{
        text-decoration: none;
        color: black;
        
        margin-top: .5em;

        padding: .5em;
        border-radius: 1em;
        
        text-align: center;
        
        background-color: #2e9352;
        
    }
}

.section-card {
    display: flex;
    
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 1em;

    box-shadow: 0 0 10px 5px rgba(73, 107, 132, 0.315);
    border-radius: .5em;
}

/*--------------------------------------------FOOTER CSS----------------------------------------------*/

footer {
    background-color: #4AB56F;
    display: flex;
    flex-direction: column;
    min-height: 10em;
    box-shadow: 0 5px 10px rgba(84, 132, 73, 0.475);

    justify-content: center;

    left: 0;
    right: 0;
    bottom: 0;


    z-index: 999;
}
#footer-title-container {
    text-align: center;
}
#footer-details-container {
    margin-left: 3em;

    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

#follow-us {
    margin-left: auto;
    margin-right: 3em;
    display: flex;
    flex-direction: column;
}

#follow-us-title {
    text-align: center;
    font-size: large;
}

#follow-us-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#follow-us-links>a>img {
    max-width: auto;
    max-height: 3em;
    margin: .3em;
}