.button>a, a.button{
    text-decoration: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 20px;
    /* height: 17px; */
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;

transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: -3px;
background-color: rgb(141, 141, 141);

transition: .4s;
}


input:checked + .slider{
background-color: #639fd0;
}
/* 
input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
} */

input:checked + .slider:before {
background-color: rgb(0, 19, 97);
transform: translateX(26px);
}

.slider.round {
border-radius: 100px;
}

.slider.round:before {
border-radius: 50%;
}

.invisible {
    animation: shrink .7s linear 0s 1 normal;
}

.visible {
    animation: grow .3s linear 0s 1 normal;
}

@keyframes shrink {
    0% {transform: scale(1);}
    99.99% { transform: scale(0);}
}

@keyframes grow {
    0% {transform: scale(0);}
    99.99% { transform: scale(1);}
}