body {
    margin: 0;
}

.organization-name{
    font-size: 30px;
    text-align: center;
}

.organization-picture{
    height: 300px;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.organization-info{
    font-size: 16px;
    text-align: center;
}

.extra-photos{
    display: flex;
    justify-content: center;
}

.change-photo{
    padding: 10px 20px 10px 20px;
    width:100px;
    height:40px;
    align-self: center;
    margin: 0px 5px 0px 5px;
}

.organization-extra-photo-placeholder-help{
    height: 300px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

.article-activity-drop-down{
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 16px;
    border-radius: 3px;
    border-width: 1px;
    height: fit-content;
    margin-right: 10px;
}

.article-activity-drop-down-menu{
    width: 80px;
}

.all-organization-articles-activities{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.change-article-activity{
    padding: 10px 20px 10px 20px;
    width:100px;
    height:40px;
    align-self: center;
    margin: 0px 5px 0px 5px;
}

.article-activity-preview-placeholder{
    width: 300px;
    height:500px;
    overflow: hidden;
}

.article-activity-preview-placeholder-help{
    height: 500px;
    background-size:cover;
    background-position:center;
}